.but {
	margin-left: 80px;
	margin-top: 11px;
	margin-bottom: 15px;
}

.bd {
	margin-left: 15px;
}

.row {
	margin-bottom: 15px;
}
.bd1{
	    margin-left: 800px;
}
.centralp{
	margin-left: 10px;
	margin-right: 10px;
}
