<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark">
		<div class="col-sm-9"> 
		<h3>Gerenciador de Eventos</h3>
		</div>
		<ul class="navbar-nav">
				 <li class="nav-item active"><a class="nav-link"
				href="/">Home <span class="sr-only"></span></a></li>
				<li class="nav-item active"><a class="nav-link"
				href="/casadeshow">Casas de Show <span class="sr-only"></span></a></li>
				<li class="nav-item active"><a class="nav-link"
				href="/eventos">Eventos <span class="sr-only"></span></a></li>
				<li class="nav-item active"><a class="nav-link"
				href="/home/Historico">Historico<span class="sr-only"></span></a></li>
				<li class="nav-item active"><a class="nav-link"
				href="/logout">Logout<span class="sr-only"></span></a></li>
		</ul>
	</nav>
</body>
</html>