<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Layout">
<head>
<meta charset="UTF-8">
<title>Casa de Show</title>
</head>
<section layout:fragment="conteudo">
<form method="POST" action="/compras">
	<div class="card text-center" th:object="${evento}">
		<div class="card-header">
			<div class="card-tittle">
				<h1>Bem Vindo</h1>
			</div>
		</div>
		<div class="list-group-item" th:each="eventos: ${eventos}">
    		<h5 th:text="${eventos.descricao}"></h5>
    		<h6  th:text="|Preço do ingresso R$ ${{eventos.Valoringresso}}|"></h6>
   			<h6 th:text="|Capacidade Maxima: ${eventos.capacidade}|"></h6>
			<button  type="submit" class="btn btn-primary">Comprar</button>
 		</div>				

	</div>
</form>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/funcoes.js"></script>
</section>
</html>